<header class="w-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto align-items-center">

                    <li class="nav-item">
                        <a class="nav-link text-gray mx-2" href="{% url 'biblioteca:home' %}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-gray mx-2" href="{% url 'biblioteca:listar_livros' %}">
                            Visualizar Livros Disponíveis
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-gray mx-2" href="{% url 'biblioteca:criar_emprestimo' %}">
                            Criar um Empréstimo
                        </a>
                    </li>

                    <li class="nav-item">
                        <form action="{% url 'users:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Sair</button>
                        </form>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>